<%= form_for(page) do |f| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :header %><br>
    <%= f.text_field :header %>
  </div>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>


  
    <%= f.hidden_field :page %>



  <trix-editor input="page_page"></trix-editor>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
  <select id = "selColor" class='mySelect'>
   <option value = "#FFFFFF">White</option>
   <option value = "#FF0000">Red</option>
   <option value = "#FFCC00">Orange</option>
   <option value = "#FFFF00">Yellow</option>
   <option value = "#00FF00">Green</option>
   <option value = "#0000FF">Blue</option>
   <option value = "#663366">Indigo</option>
   <option value = "#FF00FF">Violet</option>
  </select>


  <input type = "button"
    value = "change color"
    onclick = "changeColor()" />


   <script type = "text/javascript">
  // from dropdownList.html
  function changeColor(){
  var selColor = document.getElementById("selColor");
  var color = selColor.value;
  document.body.style.backgroundColor = color;
  } // end function
 </script>

  <select id = "selHeading">
   <option value = "h1">h1</option>
   <option value = "h2">h2</option>
   <option value = "h3">h3</option>
   <option value = "h4">h4</option>
   <option value = "h5">h5</option>
   <option value = "normal">normal</option>
  </select>





<!-- dropdown container -->
<span class="dropdown">

    <!-- trigger button -->
    <button>Navigate</button>

    <!-- dropdown menu -->
    <ul class="dropdown-menu">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</span>